@font-face {
  font-family: alimama;
  src: url('/fonts/AlimamaShuHeiTi-Bold.woff2');
}

/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: alimama;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* 标题文字大小 */
  --titleSize: 3.5rem;
  --contextSize: 1.5rem;
}

html,
body {
  background: #f1f2f6;
}

#perry {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 滚动条 */
body::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

body::-webkit-scrollbar-thumb {
  background: black;
}

/* 统一过渡 */
.loadMore {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* 未渲染则不显示 */
[v-cloak] {
  display: none;
}

/* 主框架 */
.perry {
  position: relative;
  overflow: hidden;
}

/* 统一背景图片样式 */
.perryBg {
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 560px) {
  .perryBg {
    width: 100%;
    height: 40%;
    top: 0;
  }
}

/* 统一标题样式 */
.mainContentTitle {
  font-size: var(--titleSize);
  text-align: center;
  margin-bottom: 30px;
}

/* 统一按钮样式 */
.loadMore {
  display: inline-block;
  cursor: pointer;
  padding: 10px 50px 15px;
  border: 1px solid black;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

.loadMore:hover {
  color: white;
  box-shadow: inset 0 -100px 0 black;
}

/* 统一间距规则 */
.sectionPadding {
  padding: 5rem 1rem;
}

@media (max-width: 560px) {
  .sectionPadding {
    padding: 3rem 1rem;
  }
}

/* 首页内容 */
.perryContent {
  position: relative;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
}

#MainTitle {
  font-size: var(--titleSize);
  margin-bottom: 20px;
}

.el-tooltip__popper {
  font-size: 1rem;
}

.loadMore {
  display: inline-block;
  cursor: pointer;
  padding: 10px 50px 15px;
  border: 1px solid black;
  font-size: 1.3rem;
}

.loadMore:hover {
  color: white;
  box-shadow: inset 0 -100px 0 black;
}

/* 联系我 */
.perry4 {
  height: 800px;
}

.perry4Content {
  left: 50%;
  flex-wrap: wrap;
}

.perry4Bg {
  left: 0;
  background-size: cover;
  background: url('/images/bg.webp') fixed;
}

.perry4ItemTitle {
  font-size: 2rem;
}

.perry4ItemContext {
  font-size: 1.2rem;
}

.perry4Content li {
  margin: 20px 0;
}

/* 自适应 */

@media (max-width: 930px) {
  * {
    --titleSize: 2.8rem;
    --contextSize: 1.2rem;
  }
}

@media (max-width: 560px) {
  .loadMore {
    padding: 5px 30px 10px;
  }

  .perry4Content {
    width: 65%;
    left: 30%;
    padding: 20px;
  }

  .perry4Bg {
    width: 35%;
  }

  .el-dialog {
    width: 90%;
  }

  .el-dialog__body ul {
    text-align: center;
  }

  .el-dialog__body ul img {
    width: 80%;
  }
}
